{% load i18n updateurl %}
<form method="GET" id="search_form" style="display: block;">
  <ul class="nav nav-list">
    {# Hidden fields #}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}

    {# Visible fields #}
    {% for field in form.visible_fields %}
      <li class="nav-header">{{ field.label }}</li>
      <li class="field">{{ field }}</li>
    {% endfor %}

    {# FilterList #}
    {% for filter in filters %}
      <li class="nav-header">{{ filter.label }}</li>
      {% for choice in filter.choices %}
        <li><a{% if not choice.is_selected %} href="{% update_query_string with filter.name=choice.value 'page'=1 %}"{% else %} class="selected"{% endif %}>{{ choice.label|safe }}</a></li>
      {% endfor %}
    {% endfor %}
  </ul>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $('#search_form select').change(search_submit);
    });
</script>
