{% load updateurl %}
{% for order_field in form.fields.order_by.choices %}
<li>
  {% if form.cleaned_data.order_by == order_field.0 %}
    <a
    {% if form.order_reverse.value == '1' %}
       href="{% update_query_string with 'order_by'=order_field.0 'order_reverse'=0 'page'=1 %}"
    {% else %}
       href="{% update_query_string with 'order_by'=order_field.0 'order_reverse'=1 'page'=1 %}"
    {% endif %}
      class="{% if form.cleaned_data.order_by == order_field.0 %} active{% endif %}">
      <i class="icon-chevron-{% if form.order_reverse.value == '1' %}down{% else %}up{% endif %}"></i> {{ order_field.1|capfirst }}
    </a>
  {% else %}
  <a href="{% update_query_string with 'order_by'=order_field.0 'order_reverse'=0 'page'=1 %}">
    <i style="width: 14px; display: inline-block;">&nbsp;</i> {{ order_field.1|capfirst }}
  </a>
  {% endif %}
</li>
{% endfor %}
